<ion-view title="Utiliser Un Coupon" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>
              <p>Expires on {{offer.enddate | date:'EEEE, MMMM d y'}}</p>
          </div>
          <div class="item item-body">
              <img class="full-image" src="img/qrcode.svg">
              <p>Presentez ce code dans l'un de nos cinémas pour utiliser ce coupon. Où est notre cinéma le plus proche? Cliquez ci-dessous pour le découvrir.</p>
              <button class="button button-block button-light" ui-sref="app.store-locator">
                  Trouver un cinéma
              </button>

          </div>
      </div>

  </ion-content>

</ion-view>
